* {
  margin: 0;
  padding: 0;
}

:root {
  --gray-bg: #eeeeee;
  --gray-1: #dddddd;
  --gray-2: #cccccc;
  --gray-3: #bbbbbb;
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;

  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 3fr repeat(3, 1fr);
  grid-template-rows: auto 1fr;
}

a {
  text-decoration: none;
}

button {
  border: none;
  appearance: none;
  outline: none;
  background: none;
  cursor: pointer;
}

a:visited {
  color: #fff;
}

#sidebar {
  background-color: #0d47a1;
  color: #fff;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 25px;
  min-width: 240px;
}

#dashboard {
  font-size: 30px;
  font-weight: 900;
  width: 30px;
  display: flex;
  align-items: center;
}

#dashboard_icon {
  padding: 7px;
  width: 40px;
}

#sidebar li {
  font-size: 18px;
  display: flex;
  align-items: center;
}

#sidebar li:nth-child(1) {
  margin-top: 40px;
}

#sidebar li a:hover {
  transform: scale(1.1);
}

#sidebar li a:active {
  transform: scale(1);
}

.sidebar_icons {
  padding: 12px;
  width: 30px;
}

#header {
  grid-column: 2 / 6;
  grid-row: 1;
  min-width: 900px;
  padding: 20px 20px 0px 20px;

  display: grid;
  grid-template-columns: 4fr 1fr;
}

#header_top {
  grid-column: 1 / 6;
  padding: 0px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header_bottom {
  grid-column: 1 / 6;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header_area1 .search_btn {
  font-size: 30px;
  background-color: #fff;
  margin-right: 10px;
}

#header_area1 .search_btn:active {
  transform: scale(0.95);
}

#header_area1 .search_bar {
  font-size: 20px;
  background-color: var(--gray-bg);
  border: 0px;
  width: 30vw;
  min-width: 350px;
  padding: 10px;
  border-radius: 50px;
}

#header_area2 {
  width: 15vw;
  min-width: 300px;
  margin: 0px 20px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header_area2 > :nth-child(1) {
  margin-right: 30px;
}

#header_area2 > :nth-child(2) {
  margin-right: 15px;
}

#header_area2 .profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#header_area2 .profile:active {
  transform: scale(0.95);
}

#header_area2 button:nth-child(3) {
  font-size: 20px;
  font-weight: 700;
}

#header_area2 button:nth-child(3):active {
  transform: scale(0.97);
}

.notification_btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  color: #333333;
  background: var(--gray-1);
  border-radius: 50%;
}
.notification_btn:hover {
  background: var(--gray-2);
}

.notification_btn:active {
  background: var(--gray-3);
  transform: scale(0.95);
}

.notification_badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: red;
  color: #ffffff;
  border-radius: 50%;
}

#header_area3 {
  display: flex;
}

#header_area3 .profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.greeting_username {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting_username p:nth-child(1) {
  font-size: 18px;
  font-weight: 800;
}

.greeting_username p:nth-child(2) {
  font-size: 28px;
  font-weight: 900;
}

#header_area4 button {
  font-size: 18px;

  color: #ffffff;
  background-color: #1565c0;

  border-radius: 50px;

  margin: 0px 10px;
  padding: 10px 25px;
}

#header_area4 button:hover {
  background-color: #5e92f3;
}
#header_area4 button:active {
  background-color: #003c8f;
  transform: scale(0.97);
}

.content {
  background-color: var(--gray-bg);
  grid-column: 2 / 6;
  grid-row: 2 / 5;

  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";

  padding: 30px;
}

.projects {
  grid-area: projects;
}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  gap: 30px;
  margin: 15px 0px 30px 0px;
}

.content .card {
  border-left: 10px solid #ff9800;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .card:hover {
  transform: scale(1.03);
}

.content .card h3 {
  margin-bottom: 20px;
}

.card_icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.card_icons img {
  padding: 5px;
  width: 25px;
}

.card_icons img:hover {
  transform: scale(1.2);
}

.card_icons img:active {
  transform: scale(1.1);
}

.announcements {
  margin: 0px 15px 0px 30px;
  grid-area: announcements;
}

.announcement_card {
  font-size: 14px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 15px;
  padding: 15px;
  min-width: 300px;
}

.announcement {
  padding: 15px;
  margin: 7px 0px;
}

.announcement h3 {
  margin-bottom: 7px;
}

.trending {
  margin: 0px 15px 0px 30px;
  grid-area: trending;
}

.trending h2 {
  margin-top: 20px;
}

.trending_card {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 15px;
  padding: 15px;
  min-width: 300px;
}

.trending_profile {
  display: flex;
  align-items: center;
  padding: 10px;
}

.trending_profile p:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.trending_profile p:nth-child(2) {
  font-size: 15px;
  color: #78716c;
}

.trending_user {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.cat_profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
